body {
  margin: 0;
  font-family: sans-serif;
}

::backdrop
{
    background: rgba(0,0,0,0.5);
}

button {
    cursor: pointer;
}

/*Menu*/
.menu {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 80px;
}

.menu button {
    padding: 20px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    text-align: right;
    background-color: transparent;
    border: none;
    float: right;
}

.menu button:hover {
    background-color: #555;
}

/* Header */
.header {
    background-color: #333;
    overflow: hidden;
}

#login {
    float: right;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#login:hover {
    background-color: #555;
}

/* Main Content */
#main-contents {
    margin-left: 200px;
    padding: 20px;
}

/* Tiles */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.tile {
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    padding: 20px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
}

.tile:hover {
    background-color: #b1b1b1;
}

.tile.highlight {
    background-color: #de9e94;
}

.tile.highlight:hover {
    background-color: #da614e;
}
/*
.tile .tile-header {
  background-color: #b1b1b1;
  width: 100%;
  height: 30px;
  top: 0;
}*/

.tile h1 {
  font-size: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 25px;
}

.tile .tile-text-row {
   margin-bottom: 10px;
   text-align: left;
}

.tile h3 {
  font-size: 13px;
  display: inline;
}

.tile p {
  font-size: 12px;
  display: inline;
}

/* Task Modal */

.task-modal {
    background-color: #ddd;
    border-radius: 10px;
    border: none;
    width: 50%;
}

.task-grid-container {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 60px;
}

.task-modal .close-button {
  float: right;
}

.task-modal .task-text-row {
   text-align: left;
   margin-top: 10px;
}

.task-modal .label {
  font-size: 16px;
  display: inline;
  padding-right: 10px;
}

.title-label {
    font-weight: 600;
}

.task-modal .editable-field {
  font-size: 15px;
  margin-right: 5px;
  border-style: hidden;
  border-width: 1px;
  cursor: pointer;
  display: inline;
}

.task-modal .editable-field.paragraph {
  display: block;
  white-space: pre-line;
}

.task-modal .editable-field.placeholder-text {
  color: #505050;
}

.task-modal .editable-field.editing {
  border-radius: 5px;
  padding: 3px;
}

.task-modal .editable-field.editing.paragraph {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.task-main-contents {
    margin-top: 20px;
}

.task-modal .editable-field.title {
  font-size: 25px;
  font-weight: 700;
}

/* Contacts */

.contacts-section {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 30px;
    align-items: center;
    word-wrap: break-word;
    word-break: break-all;
    max-width: 100%;
}

.contact-section {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.contact-details {
    padding-right: 15px;
    text-wrap: wrap;
}

.contacts-list {
    list-style-type: none;
    padding-left: 0;
}

.contact-list-item {

}

/* To Do list */

.todo-section {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 30px;
    align-items: center;
    word-wrap: break-word;
    word-break: break-all;
    max-width: 100%;
}

.todo-item-section {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.todo-details {
    padding-right: 15px;
}

.todo-list {
    list-style-type: none;
    padding-left: 0;
}

/* UI */

#tick-icon {
    display: inline;
}

.add-button {
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
    text-align: center;
    color: #fff;
    background-color: #ffa571;
    padding-top: 5px;
    padding-bottom: 5px;
    float: right;
}

.add-button:hover {
    background-color: #ff995d;
}

#contacts-add {
    width: 80px;
}

#todo-add {
    width: 50px;
}

#bin-icon {
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
    text-align: center;
    color: #fff;
    background-color: #ff604c;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 25px;
}

#bin-icon:hover {
    background-color: #ff3d25;
}